@charset "utf-8";

.body {
  color: #333;
  font-family: "Lato";
  background-color: #f2f2f2;
}

.menu_icon {
  display: none;
}

.white_font {
  color: #fff;
}

img {
  vertical-align: bottom;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  display: inline-block;
}

.arrangement {
  display: flex;
  justify-content: space-between;
}

.inline_center {
  text-align: center;
}

.principal {
  padding-top: 80px;
}

.button_box {
  background-color: #74cfae;
  font-size: 12px;
}

.button {
  transition: .3s;
}

.button_box:hover .header_button,
.button_box:hover .news_button {
  color: #333
}

.is-raleway {
  font-family: "Raleway";
}

/* ---------ここからheader----------- */

.header {
  background-color: #fff;
  position: fixed;
  padding: 15px 0;
  width: 100%;
  z-index: 100;
}

.header_inner {
  align-items: center;
}

.header_button {
  padding: 14px 12px;
}

.header_icon {
  font-size: 50px;
}

/* ---------ここからtheme----------- */

.theme {
  padding: 250px 0;
  width: 100%;
}

.theme_title {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.theme_paragraph {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

/* ----------ここからintroduction----------- */

.introduction {
  background-color: #74cfae;
  padding-top: 50px;
  width: 100%;
}

.introduction_inner {
  align-items: center;
  justify-content: center;
}

.introduction_title {
  font-size: 24px;
}

.introduction_paragraph {
  font-size: 20px;
  margin-top: 35px;
}

.introduction_right_box {
  margin-left: 100px;
  width: 800px;
}

/* ----------ここからarticle----------- */

.news {
  padding-top: 60px;
  padding-bottom: 70px;
  width: 100%;
}

.news_title {
  font-size: 24px;
}

.news_paragraph {
  width: 465px;
  margin:0 90px;
}

.news_img {
  opacity: .7;
  transition: .3s;
}

.news_button {
  padding: 14px 20px;
}

.show {
  margin-left: 100px;
  margin-top: 80px;
}

.show_inner:hover .news_img {
  opacity: 1;
}

.show:nth-child(3n+1) {
  margin-left: 0;
}

.show:nth-child(-n+3) {
  margin-top: 0;
}

.img_box {
  flex-wrap: wrap;
  margin-top: 40px;
}

.img_under_box {
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

/* ----------ここからour skills----------- */

.skills {
  background-color: #4e4e4e;
  padding: 70px 0 100px;
  width: 100%;
}

.skills_title {
  font-size: 24px;
}

.item_box {
  margin-top: 50px;
  justify-content: center;
}

.item_text {
  font-size: 16px;
  margin-top: 15px;
}

.item {
  margin-left: 180px;
}

.item:first-child {
  margin-left: 0;
}

/* ----------ここからsns----------- */

.sns {
  padding: 200px 0;
  width: 100%;
}

.sns_inner {
  justify-content: center;
}

.sns_icon_box {
  transition: .3s;
  width: 185px;
}

.sns_icon {
  color: #74cfae;
  font-size: 50px;
}

.sns_icon_box:hover {
  background-color: #fff;
}

.sns_icon_box_inner {
  padding: 30px 0;
  width: 100%;
}

/* ----------ここからfooter----------- */

.footer {
  background-color: #74cfae;
  padding: 20px 0 25px;
  text-align: right;
}

/* ここから1199px以下で適応 */
@media screen and (max-width: 1199px) {
  .inner {
    width: 97%;
  }

  .introduction {
    padding-bottom: 25px;
  }

  /* .arrangement:not(.header_inner) {
    flex-direction: column;
  } */
  
  .principal .arrangement:not(.sns_inner) {
    flex-direction: column;
  }

  .introduction_inner {
    text-align: center;
  }

  .introduction_right_box {
    margin: 0 auto;
    width: 80%;
  }
  
  .introduction_title {
    margin-top: 20px;
  }
  
  .img_box {
    text-align: center;
  }

  .show {
    margin: 0;
  }
  
  .show:nth-child(3n) {
    margin-bottom: 80px;
  }
  
  .show:last-child {
    margin-bottom: 0;
  }

  .img_under_box {
    margin-top: 80px;
  }

  .news_paragraph {
    margin: 0 auto;
    width: 100%;
  }

  .img_under_box {
    text-align: center;
  }

  .news_button_box {
    display: inline-block;
    margin: 40px auto 0;
  }

  .item {
    margin-left: 0;
    margin-top: 88px;
    text-align: center;
  }

  .item:first-child {
    margin-top: 0;
  }

  .sns_icon_box {
    width: 25%;
  }
}

/* タブレットのみ */
@media screen and (max-width: 1199px) and (min-width: 768px) {
}

/* スマホのみ適応 */
@media screen and (max-width: 767px) {
  .header_button_box {
    display: none;
  }

  .menu_icon {
    display: block;
    position: relative;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 33px;
    height: 20px;
  }

  .menu_icon_text {
    width: 33px;
    height: 3px;
    background-color: #ddd;
    position: absolute;
    left: 10px;
    top:10px;
  }

  .menu_icon_text:nth-child(2) {
    top: 18.5px;
  }

  .menu_icon_text:last-child {
    top: 30px;
  }

  .theme {
    padding: 160px 0 130px;
  }

  .theme_title {
    font-size: 80px;
  }

  .sns {
    padding: 50px 0;
  }

  .sns_inner {
    flex-direction: column;
  }

  .sns_icon_box {
    width: 100%;
  }
}
